<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<title>Vigilance Solutions - {{ data["device"] }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='icon' href="{{ url_for('static', filename='icon.ico') }}" type='image/x-icon'>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
<header>
	<nav>
		<ul class="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/security-camera">Security Cameras</a></li>
			<li><a href="/mobile-app">Mobile App</a></li>
			<li></li>
			{% if not session['logged_in'] %}
			<li><a href="/signup" class="signup-btn" id="signup">Signup</a></li>
			<li></li>
			<li><a href="/login" class="signup-btn" id="login">Login</a></li>
			{% endif %}
			{% if session['logged_in'] %}
			<li><a href="/logout" class="signup-btn" id="logout">Logout</a></li>
			{% endif %}
		</ul>
	</nav>
</header>
<div id="single-product-container">
	<div id="single-product-box">
		<div id="single-product-image" style="width: 50%; height: auto;">
			<img src="{{ url_for('static', filename='product_images/' + data['image']) }}" alt="Device image">
		</div>
		<div id="single-product-box-content">
			<h1 id="single-product-title">{{ data["device"] }} </h1>
			<p>{{ data["description"] }}</p>
			<h3 id="single-product-stock">In Stock: {{ data["stock"] }} Items <br> <br> ${{ data["price"] }} <br> <br>
			</h3>
			<button class="single-product-cart-btn">Add to Cart</button>
		</div>
		&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</div>
<footer>
	<p>
		&copy; 2024 Vigilance Solutions. All rights reserved. |
		<a href="/privacy">Privacy Policy</a>
	</p>
</footer>
</body>
</html>