<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<title>Vigilance Solutions - Products</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='icon' href="{{ url_for('static', filename='icon.ico') }}" type='image/x-icon'>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
	<header>
		<nav>
			<ul class="navbar">
				<li><a href="/">Home</a></li>
				<li><a href="/security-camera">Security Cameras</a></li>
				<li><a href="/mobile-app">Mobile App</a></li>
				<li></li>
				{% if not session['logged_in'] %}
					<li><a href="/signup" class="signup-btn" id="signup">Signup</a></li>
					<li></li>
					<li><a href="/login" class="signup-btn" id="login">Login</a></li>
				{% endif %}
				{% if session['logged_in'] %}
					<li><a href="/logout" class="signup-btn" id="logout">Logout</a></li>
				{% endif %}
			</ul>
		</nav>
		<br> <br>
		<h1>Security Cameras</h1>
	</header>
	<div class="spacing">
	{%for data_single in data%}
		<a href="/product/{{ data_single.identifier }}" class="card-link-a">
			<div class="card" style="width: 14rem; padding-left: 10px; padding-top: 10px; margin-bottom: 15px; display:inline; float:left;">
				<img src="{{ url_for('static', filename='product_images/' + data_single.image) }}" alt="Device image">
				<div class="card-body">
					<h5 class="card-title">{{ data_single.device }} </h5>
					<h5 class="card-title">In Stock: {{ data_single.stock }} Items</h5>
					<h5 class="card-title">${{ data_single.price }}</h5>
				</div>
			</div>
		</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
	{%endfor%}
	</div>
	<footer>
		<p>
			&copy; 2024 Vigilance Solutions. All rights reserved. |
			<a href="/privacy">Privacy Policy</a>
		</p>
	</footer>
</body>
</html>