<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
  <link rel='icon' href="{{ url_for('static', filename='icon.ico') }}" type='image/x-icon'>
  <title>Live Stream</title>
  <style>
    img {
      width: 640px;
      height: auto;
    }
  </style>
  <script>
    function startStreaming() {
      const imageElement = document.getElementById('live-stream');
      setInterval(() => {
        fetch('/stream_default')
                .then(response => {
                  if (response.ok) {
                    return response.blob();
                  } else {
                    throw new Error('No frames available');
                  }
                })
                .then(imageBlob => {
                  const imageUrl = URL.createObjectURL(imageBlob);
                  imageElement.src = imageUrl;
                })
                .catch(error => console.error('Error fetching frame:', error));
      }, 1000);
    }

    window.onload = startStreaming;
  </script>
</head>
<body>
<header>
  <h1>Live Stream</h1>
</header>
<img id="live-stream" src="" alt="Live Stream will appear here" />
</body>
</html>